[submodule "src/FV-Admin"]
	path = src/FV-Admin
	url = ../FV-Admin
[submodule "src/FV-Client"]
	path = src/FV-Client
	url = ../FV-Client
[submodule "src/FV-Docs"]
	path = src/FV-Docs
	url = ../FV-Docs
[submodule "src/FV-Engine"]
	path = src/FV-Engine
	url = ../FV-Engine
[submodule "src/mapserver"]
	path = src/mapserver
	url = https://github.com/klassenjs/mapserver
[submodule "src/gdal"]
	path = src/gdal
	url = https://github.com/osgeo/gdal
